@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "Eesti";
	src:url("../fonts/GT-Eesti-Pro-Display-Regular.eot");
	src:url("../fonts/GT-Eesti-Pro-Display-Regular.woff") format("woff"),
		url("../fonts/GT-Eesti-Pro-Display-Regular.ttf") format("truetype");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	 background: #b5c5c5;
	color: rgba(0,0,0,0.45);
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', Arial, sans-serif;
}

a {
	color: rgba(0,0,0,0.25);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: rgba(0,0,0,0.6);
}

.codrops-header {
	margin: 0 auto;
	padding: 3em 1em;
	text-align: center;
	color: rgba(0,0,0,0.35);
}
.codrops-header img{
	max-width:150px;
        -webkit-box-shadow: 10px 7px 137px 2px rgba(0,0,0,0.37);
-webkit-box-shadow: 10px 7px 137px 2px rgba(0,0,0,0.28);
-moz-box-shadow: 10px 7px 137px 2px rgba(0,0,0,0.28);
box-shadow: 10px 7px 137px 2px rgba(0,0,0,0.28);
}
.codrops-header h1 {
	margin: 0;
	font-weight: 400;
	font-size: 2.8em;
    letter-spacing: 10px;
    color:#000;
    font-family: "Eesti" !important;
}

.codrops-header h1 span {
	color:#fff;
    font-size:2.2em !important;
    letter-spacing: 16px;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}


section {
	padding: 4em 2em;
    background: #FFF;
	text-align: center;
    -webkit-box-shadow: 10px 7px 137px 2px rgba(0,0,0,0.37);
-webkit-box-shadow: 10px 7px 137px 2px rgba(0,0,0,0.28);
-moz-box-shadow: 10px 7px 137px 2px rgba(0,0,0,0.28);
box-shadow: 10px 7px 137px 2px rgba(0,0,0,0.28);
   font-family: "Eesti" !important;
}

section p {
    line-height: 24px;
}

section p span{
    font-size:10px;
}

.related > a {
	max-width: 80%;
	border: 2px solid rgba(0,0,0,0.3);
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	-webkit-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
}

.related a:hover {
	border-color: rgba(0,0,0,0.6);
}

.related a img {
	max-width: 100%;
	opacity: 0.4;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	font-weight: 400;
	font-size: 0.75em;
	text-align: left;
}

@media screen and (max-width: 44.75em) {
	section, { padding: 1em 2em; }
}


@media screen and (max-width: 25em) {
	.codrops-header { font-size: 0.8em; }
	section.related { font-size: 1.2em; }
	.codrops-icon span { display: none; }
}