html {
	box-sizing: border-box;
	font-family: "arial", serif;
	color: #555;
	font-size: 16px;
	scroll-behavior: smooth;
}
*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	background-color: #ffdc00;
}
a {
	text-decoration: none;
	color: inherit;
}

#m1 img {
	bottom: 0;
	left: 0;
	margin: 0 auto;
	text-align: center;
	position: fixed;
	right: 0;
	z-index: 9999;
    cursor: pointer;
}
#ss, #mm, #vv, #tt {
	position: fixed;
	z-index: 9999;
	font-weight: bold;
	font-size: 84px;
	font-style: italic;
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
    z-index: 999;
    overflow: visible;
    padding:25px;
}
@media only screen and (max-width: 768px) {
	#ss, #mm, #vv, #tt {
		font-size: 24px;
		color: white !important;
		-webkit-text-stroke-width: 0px;
		-webkit-text-stroke-color: white;
		padding: 65px 25px;
	}
}
#ss {
	top: 0;
	left: 0;
}
#mm {
	top: 0;
	right: 0;

}
#tt {
	bottom: 0;
	left: 0;

}
#vv {
	bottom: 0;
	right: 0;

}
#ss:hover, #mm:hover, #tt:hover, #vv:hover {
	color: #ffdc00;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ffdc00;
	cursor: pointer;
   
}
#cnt {
  margin: 1vh;
    height:100%;
    position:absolute;
    left:0;right:0;top:0;bottom:0;
    z-index: 99;
}

.marquee {
	position: fixed;
	width: 100%;
	height: 180px;
	-webkit-animation: marquee 6s infinite linear;
}
@-webkit-keyframes marquee {
	0% {
		background-position: 0;
	}
	100% {
		background-position: -1190px;
	}
}
#marquee_shop {
	bottom: 0;
	left: 0;
	margin: auto;
	position: fixed;
	top: 0;
	right: 0;
	background-image: url('/SQ1.png');
	display: none;
}



/*---------------------------------------------------*/
@media only screen and (max-width: 768px) {
	#m1 img {
		max-width: 125px;
		top: 15px;
	}
	#tour h2, #music h2 {
		font-size: 1em
	}
    #music img{
    max-width:250px;
}
}
@media only screen and (min-width: 769px) {
	#m1 img {
		max-width: 350px;
		top: 25px;
	}
	#tour h2, #music h2 {
		font-size: 2em;
	}
    #music img{
    max-width:200px;
}
}
/*---------------------------------------------------*/
#tour, #music {
	position: absolute;
	width: 100%;
	height: auto;
	margin-top: -10px;
	text-align: center;
	display: none;
	color: #fff;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
#tour{
    top:50%;
}
#music{
    top:25%;
}

#social {
	text-align: center;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 999;
	position: fixed;
}
#social a {
	margin: 0 auto;
	color: #ffdc00;
}
/*---------------------------------------------------*/
@media only screen and (min-width: 769px) {
	#social {
		max-width: 420px;
		bottom: 10px;
	}
    #social a{
        padding: 0 20px;
    }
    footer p{
    	font-size: 11px;
    }
    #music{
        position:fixed;
    }
}
@media only screen and (max-width: 768px) {
	#social {
		max-width: 360px;
		bottom: 35px;
	}
     #social a{
        padding: 0 10px;
    }
    footer p{
    	font-size: 7px;
    }
}
/*---------------------------------------------------*/


/**
 * The different sections
 */

.section {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	min-height: 100vh;
	width: 100%;
	align-content: center;
	padding: 40vh 50px 10vh 75px;
}
.section .section__inner {
	height: 100%;
	margin: auto auto auto 0;
}
.section.section--news, .section.section--shop, .section.section--videos, .section.section--music {
	transition: 0.5s;
	transition-delay: 0.5s;
}
.section--hello {
	background: no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	padding: 55vh 0 0 5vh;
    position:fixed;
}
.section.section--news {
	background: url("/4.jpeg")no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	color: #000;
}
.section.section--shop {
	background: url("/3.jpeg")no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	color: fff;
	transition: 0.5s;
	transition-timing-function: ease;
	transition-delay: 0.5s;
}
.section.section--videos {
	background: url("/5.jpeg")no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	color: #ff0000;
}
.section.section--music {
	background: url("/2.jpeg")no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	color: #fff;
}


p a {
	font-weight: bold;
	color: inherit;
}
p a:hover {
	border-bottom: .1875rem solid;
}
.lead {
	display: block;
	font-size: .875rem;
	margin: 0;
}

footer {
	font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
	font-weight: bold;
	color: #fff;
	bottom: 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	position: fixed;
	height: 50px;
    z-index:99;
}
footer p {
	margin: 0 auto;
	padding: 25px;
    color:#000;
}
footer #cp{
    float:right;
    padding-right:40px;
}
footer #sq{
    padding-left:40px;
    float:left 
}

#lg{
    max-width:25px;
}
/*  SECTIONS  */
.scc_1 {
	clear: both;
	padding: 0px;
	margin: 0px 150px;
}
.scc_2 {
	clear: both;
	padding: 0px;
	margin: 0px 300px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 768px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
    	.span_2_of_2, .span_1_of_2 { width: 100%; }
    .scc_1 {
	margin: 0px;
}
    .scc_2{margin:0 0 10% 0}
}