*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.rw {
  margin: 0 auto;
}

.categories-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcf6be+0,d1af5b+47,70461c+100 */
  background: #B7A47C;
  /* Old browsers */
  background: #B7A47C;
  /* FF3.6-15 */
  background: #B7A47C;
  /* Chrome10-25,Safari5.1-6 */
  background: #B7A47C
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fcf6be", endColorstr="#70461c",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  position: relative;
  border-radius: 16px;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 220px;
  flex: 0 0 220px;
  margin: 48px 0;
}

@media (max-width: 1200px) {
  .categories-header {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    width: 110px;
    margin-right: 16px;
  }
}
.section-categories {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 80px 0;
  padding: 32px 0;
}

@media (max-width: 1200px) {
  .section-categories {
    scrollbar-width: 10px;
    width: 100%;
    padding-bottom: 32px;
    margin-bottom: 96px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-points-x: repeat(250px);
    scroll-snap-points-x: repeat(250px);
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
  }

  .section-categories::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  .section-categories::-webkit-scrollbar-thumb {
    background: #B7A47C;
    border-radius: 10px;
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  }

  .section-categories::-webkit-scrollbar-track {
    background: linear-gradient(to right, #201c29, #201c29 1px, #17141d 1px, #17141d);
  }

  .section-categories .mini-card {
    scroll-snap-align: start;
  }
}
@media (max-width: 1200px) {
  .section-categories {
    padding-left: 0;
  }
}
.mini-card-grid {
  scrollbar-color: #201c29;
  scrollbar-width: 10px;
  scrollbar-gutter: always;
  padding: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin:0 auto;
}

.mini-card-grid::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.mini-card-grid::-webkit-scrollbar-thumb {
  background: #B7A47C;
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}



@media (max-width: 1200px) {
  .mini-card-grid {
    overflow-x: visible;
  }
}
.mini-card {
  max-width: 250px;
  min-height: 350px;
  padding: 24px;
  border-radius: 16px;
  background: #17141d;
  -webkit-box-shadow: 0 4px 38px 0 rgba(0,0,0,.4);
                box-shadow: 0 4px 38px 0 rgba(0,0,0,.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0;
  cursor: pointer;
}
.lg{
    text-align: center;
}
.logo img, .lg img{
    max-width: 65px;
    padding-top: 25px;
}
.mini-card .mini-card-description {
  padding-top: 15px;
  font-size: 12px;
  
}
.mini-card .mini-card-description p{
color:#000;
}
.mini-card:hover .mini-card-description p{
color:#fff;
-webkit-transition: 0.7s;
}
.mini-card h2 {
  font-size: 17px;
  margin: 4px 0 auto 0;
  background: #fcf6be;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fcf6be 0%, #d1af5b 47%, #70461c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fcf6be 0%, #d1af5b 47%, #70461c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fcf6be 0%, #d1af5b 47%, #70461c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fcf6be", endColorstr="#70461c",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  text-shadow: none;
}

.mini-card:not(:first-child) {
  margin-left: -130px;
}

.mini-card:focus-within,
.mini-card:hover {
  -webkit-transform: translate(0, -16px);
  transform: translate(0, -16px);
}

.mini-card:focus-within ~ .mini-card,
.mini-card:hover ~ .mini-card {
  -webkit-transform: translateX(130px);
  transform: translateX(130px);
}

@media (max-width: 1200px) {
  .mini-card {
    min-width: 220px;
  }

  .mini-card:not(:first-child) {
    margin-left: -30px;
  }

  .mini-card:hover {
    -webkit-transform: translate(0, -16px);
    transform: translate(0, -16px);
  }

  .mini-card:hover ~ .mini-card {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
}
@media (max-width: 800px) {
    .section-categories{
        display:none;
    }
}
@media (min-width: 801px) {
    .mobile{
        display:none;
    }
}
.mobile{
    margin-top:4em;
}
.mobile-card {
  padding: 24px;
  border-radius: 16px;
  background: #17141d;
     -webkit-box-shadow: 0 32px 64px 0 rgba(0,0,0,.4);
                box-shadow: 0 32px 64px 0 rgba(0,0,0,.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 2em 0;
  cursor: pointer;
}
.mobile-card h2 {
  font-size: 17px;
  margin: 4px 0 auto 0;
  background: #fcf6be;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fcf6be 0%, #d1af5b 47%, #70461c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fcf6be 0%, #d1af5b 47%, #70461c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fcf6be 0%, #d1af5b 47%, #70461c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fcf6be", endColorstr="#70461c",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  text-shadow: none;
  text-align:center;
}
.mobile-card-description p{
padding-top:25px;
color:#fff;
text-align:center;
}
.mobile-card img{
    text-align:center;
}